{% extends "courses/course_dashboard.html" %}

{% block dashboard_content %}
{% for announcement in announcements %}
    <div class="well">
        <h2><a href="{% url 'courses:show_announcement' course.slug announcement.pk %}">{{ announcement }}</a></h2>
        {{ announcement.content|linebreaks }}
        <p>
            {% with counter=announcement.comments.count %}
            <a href="{% url 'courses:show_announcement' course.slug announcement.pk %}#comments" title=""><i class="fa fa-comments"></i>
                {{ counter }} Comentário{{ counter|pluralize }}</a>
            {% endwith %}
        </p>
    </div>
{% empty %}
<div class="well">
    <h2>Nenhum anuncio criado</h2>
</div>
{% endfor %}
{% endblock %}
